.p{
    display: block;
    font-size: 20px;
    color: brown;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-color: sandybrown;
}
ul{
    font-size: 20px;
    color: brown;
    font-family: sans-serif;
    background-color: skyblue;
    width: 500px;
    border: 5px dashed brown;
    margin-left: auto;
    margin-right: auto;
}
.picture1{
    display: block;
    height: 115px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
} 
.picture2{
    display: block;
    height: 350px;
    width: 650px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}