header{
    margin:auto;
    background-color: rgb(108, 136, 108);
    width: 500px;
    height: 50px;
}
a{
    color: blue;
    font-size: 30px;
    font-style: bold;
    padding-right: 15px; 
}

}
a:hover{
    color: rgb(243, 17, 243);
}
.define{
    margin:auto;
    background-color: bisque;
    width: 500px;
    height: auto;
}
h1{
    margin: auto;
    color: red;
    
}
